#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Meanwhile, Future's "Life Is Good," featuring Drake,
        launches on the Hot 100 at No. 2. The track marks a new high for Future,
        who earns his third top 10, while Drake adds his 207th entry, tying him with the Glee Cast
        for the most appearances in the chart's
        61-year history.

#bottom_cta
  .wrapper
  %h2 Go Ahead!
  %br
  %button= link_to "Join Now", new_user_registration_path
